#topmenu {
  background: rgb(0, 188, 212 );
  color: white;
}

#topmenu .item {
  color: inherit;
}

#mainpage {
  background-image: url("/siika.png");
  background-repeat: no-repeat;
  background-size: 206px 620px;
}

@import (less) "semantic-ui-css/semantic.css";
